.header{

  padding-bottom: 0px;
  background-color: $mediumColor;


}

.header-title{
  font-size: 24px;
  color:white;
  @include smallestPhoneSizes{

  }

  @include mediumSizedPhones{

  }

  @include tablets{

  }


  @include desktopView{
      font-size: 60px;
  }

}




.header-loggedInAs{
  color:white;
  margin: 10px;
}
