.navbar-dark .navbar-toggler {
    color: rgb(251, 5, 5);
    border-color: rgb(255, 255, 255);
}
.navbar-nav{
  text-align: center;
  a{
    color: white;
  }
}

.noMargin{
  margin:0px !important;
}
.bottomleft{
padding: 60px;
}

.fullWidth{
  width: 100%;
}
